@(implicit assetsFinder: AssetsFinder, request: RequestHeader)

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Storage Manager</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png").relative">

        <link rel="stylesheet" href="@routes.Assets.versioned("css/jquery-ui.css").relative">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css").relative">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/autocomplete.css").relative"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/jquery.dataTables.min.css").relative"/>

        <script src="@routes.Assets.versioned("javascripts/jquery.js").relative" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.js").relative" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/autocomplete.js").relative" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.dataTables.min.js").relative" type="text/javascript"></script>
    </head>

    <body>
        <table id="fc-table-filter" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>name</th>
                    <th>path</th>
                    <th>sha256</th>
                    <th>device</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>name</th>
                    <th>path</th>
                    <th>sha256</th>
                    <th>device</th>
                </tr>
            </tfoot>
        </table>

    </body>
</html>
